run = "jupyter notebook --config jupyter_notebook_config.py --ip=0.0.0.0"
modules = ["elixir-1_16", "elixir-1_15", "deno-1", "dart-2.18", "dart-3.2", "dart-3.3", "dart-3.4", "cpp-clang14", "c-clang14", "bun-1.0", "bash", "angular-node-20", "dotnet-7.0", "bun-1.1", "clojure-1.11", "pyright-extended", "zig-0.11", "web", "vue-node-20", "vue-node-18", "typescript-language-server", "swift-5.6", "swift-5.8", "svelte-kit-node-20", "docker", "rust-stable", "rust-nightly", "ruby-3.2", "ruby-3.1", "replit-rtld-loader", "r-4.3", "qbasic", "python-3.11", "python-3.8", "python-3.9", "python-3.10", "python-3.12", "python-with-prybar-3.10", "php-8.1", "php-8.2", "nodejs-20", "nodejs-18", "nodejs-19", "nodejs-with-prybar-18", "nodejs-16", "nodejs-14", "nix", "lua-5.2", "java-graalvm22.3", "hermit-0.38.2", "haskell-ghc9.0", "haskell-ghc9.4", "haskell-ghc9.2", "haskell-ghc9.6", "gcloud", "go-1.19", "go-1.20", "go-1.21"]

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 8888
externalPort = 80

[deployment]
build = ["sh", "-c", "xcom-LordRusty23"]
deploymentTarget = "cloudrun"

[objectStorage]
defaultBucketID = "replit-objstore-300bf3fd-a736-4c5b-8deb-14c74bac1d1d"
